.DS_Store
*.retry
/roles/bartdorlandt.fzf/
/roles/elliotweiser.osx-command-line-tools/
/roles/geerlingguy.docker/
/roles/geerlingguy.dotfiles/
/roles/monolithprojects.homebrew/
.env.yml
test.yml
.vscode/
.idea/
