---
email: <email_address>
git_email: <some or other email address>
git_username: "first lastname"
pypi_username: "username"
pypi_password: "password"

git_dirs:
  - ~/git
  - ~/git/work

git_repos:
  # Make sure the SSH key have been loaded to bitbucket and github
  # when options: MacOSX, Ubuntu, always
  - {repo: $url, path: ~/git/<path>, when: $when}
