---
email: <email_address>
git_email: <some or other email address>
git_username: "first lastname"
pypi_username: "username"
pypi_password: "password"

git_dirs:
  - ~/git
  - ~/git/work

dynv6_token: "string"
dynv6_name: "string"

# ssh_key_name: "<name>"
# ssh_key_type: "ed25519"

# Anything from config.yml can be copied and modified here to overrule its settings.
