---
- name: Enable iTerm2 automatic updates.
  community.general.osx_defaults:
    domain: com.googlecode.iterm2
    key: SUEnableAutomaticChecks
    type: bool
    value: true

- name: Ensure iTerm directories are initialized if they are not already.
  ansible.builtin.file:
    path: "~/Library/Application Support/iTerm2/DynamicProfiles/"
    state: directory
    mode: "0755"
  become: false

- name: Iterm2 profile symbolic link
  ansible.builtin.file:
    src: "{{ playbook_dir }}/tasks/files/{{ item }}"
    dest: "~/Library/Application Support/iTerm2/DynamicProfiles/{{ item }}"
    owner: "{{ ansible_env.USER }}"
    group: "{{ user_group }}"
    state: link
  loop:
    - iterm2.json
