---
- name: Install pyenv # noqa command-instead-of-module
  ansible.builtin.shell: curl https://pyenv.run | bash
  args:
    creates: "{{ ansible_env.HOME }}/.pyenv"
  tags: pyenv

- name: Install Python interpreters
  ansible.builtin.command: "pyenv install {{ item }}"
  args:
    creates: "~/.pyenv/versions/{{ item }}/bin/python"
  loop: "{{ pyenv_python_versions }}"

- name: Get current global version
  ansible.builtin.command: pyenv global
  register: pyenv_global_version
  changed_when: false

- name: Set pyenv_global_active fact
  ansible.builtin.set_fact:
    pyenv_global_active: "{{ pyenv_global_version.stdout_lines | join(' ') | trim() }}"

# - name: Check if 'system' version is available
#   ansible.builtin.command: pyenv versions
#   register: pyenv_versions
#   changed_when: false
#   failed_when: false
#   when: "'system' in pyenv_global"
#   tags: ["python"]
# - name: Remove 'system' from pyenv_global
#   ansible.builtin.set_fact:
#     pyenv_global: "{{ pyenv_global | replace('system', '') | trim() }}"
#   when: "'system' in pyenv_global and 'system' not in pyenv_versions.stdout"
#   tags: ["python"]

- name: Set pyenv global version to {{ pyenv_global }}
  ansible.builtin.shell: pyenv global {{ pyenv_global }} && pyenv rehash
  when: "pyenv_global is defined and pyenv_global_active != pyenv_global"

- name: Install global Pip packages.
  ansible.builtin.pip:
    name: "{{ item.name | default(item) }}"
    state: "{{ item.state | default('present') }}"
    version: "{{ item.version | default(omit) }}"
    executable: "{{ item.executable | default(pip_executable) }}"
  loop: "{{ pip_packages }}"

- name: Git pull virtualenv-autodetect
  ansible.builtin.git:
    repo: https://github.com/RobertDeRose/virtualenv-autodetect.git
    dest: "{{ ansible_env.HOME }}/git/virtualenv-autodetect"
    update: true

- name: Create pypirc file
  ansible.builtin.template:
    src: pypirc.j2
    dest: "{{ ansible_env.HOME }}/.pypirc"
    mode: 0600
  when: pypi_username is defined and pypi_password is defined
  tags: pypi
