---
- name: Ensure Sublime Text directories exist.
  ansible.builtin.file:
    path: "{{ item }}"
    mode: 0750
    state: directory
  loop:
    - "{{ sublime_base_path }}/{{ sublime_config_path }}"
    - "{{ sublime_base_path }}/Installed Packages"

- name: Ensure Sublime Package Control is installed.
  ansible.builtin.get_url:
    url: "https://packagecontrol.io/Package%20Control.sublime-package"
    dest: "{{ sublime_base_path }}/Installed Packages/Package Control.sublime-package"
    mode: 0640
