---
###############################################################################
# General UI/UX                                                               #
###############################################################################
- name: Set General UI/UX settings
  community.general.osx_defaults:
    domain: "{{ item.domain }}"
    key: "{{ item.key }}"
    type: "{{ item.type | default(omit) }}"
    value: "{{ item.value | default(omit) }}"
    state: "{{ item.state | default(omit) }}"
  loop:
    - desc: "Remove appearence key for auto light/dark"
      domain: ".GlobalPreferences"
      key: AppleInterfaceStyleSwitchesAutomatically
      state: absent
    - desc: "Set Appearence to Dark"
      domain: ".GlobalPreferences"
      key: AppleInterfaceStyle
      type: string
      value: "Dark"
    - desc: "Disable smart quotes as they are annoying when typing code"
      domain: "NSGlobalDomain"
      key: NSAutomaticQuoteSubstitutionEnabled
      type: bool
      value: false
    - desc: "Disable smart dashes as they are annoying when typing code"
      domain: "NSGlobalDomain"
      key: NSAutomaticDashSubstitutionEnabled
      type: bool
      value: false
    - desc: "Disable automatic capitalization"
      domain: "NSGlobalDomain"
      key: NSAutomaticCapitalizationEnabled
      type: bool
      value: false
    - desc: "Disable spelling corrections"
      domain: "NSGlobalDomain"
      key: NSAutomaticSpellingCorrectionEnabled
      type: bool
      value: false
    - desc: "Disable automatic period insertion"
      domain: "NSGlobalDomain"
      key: NSAutomaticPeriodSubstitutionEnabled
      type: bool
      value: false
    # - desc: "Accessibility Reduce Motion"
    #   domain: "com.apple.universalaccess"
    #   key: reduceMotion
    #   type: bool
    #   value: true
    # - desc: "Accessibility Reduce Motion"
    #   domain: "com.apple.Accessibility"
    #   key: ReduceMotionEnabled
    #   type: bool
    #   value: true
  notify:
    - Restart MenuBar
    - Restart Dock
  tags: osx-defaults

###############################################################################
# Menu bar                                                                    #
###############################################################################
- name: Set Menu barsettings
  community.general.osx_defaults:
    domain: "{{ item.domain }}"
    key: "{{ item.key }}"
    type: "{{ item.type }}"
    value: "{{ item.value }}"
  loop:
    - domain: "com.apple.controlcenter"
      key: "NSStatusItem Visible Battery"
      type: bool
      value: true
    - domain: "com.apple.controlcenter"
      key: "NSStatusItem Visible Bluetooth"
      type: bool
      value: true
    - domain: "com.apple.controlcenter"
      key: "NSStatusItem Visible Clock"
      type: bool
      value: true
    - domain: "com.apple.controlcenter"
      key: "NSStatusItem Visible Display"
      type: bool
      value: true
    - domain: "com.apple.controlcenter"
      key: "NSStatusItem Visible Sound"
      type: bool
      value: true
    - domain: "com.apple.controlcenter"
      key: "NSStatusItem Visible WiFi"
      type: bool
      value: true
    - domain: "com.apple.controlcenter"
      key: "NSStatusItem Visible NowPlaying"
      type: bool
      value: true
  notify:
    - Restart MenuBar
  tags: osx-defaults

###############################################################################
# Finder                                                                      #
###############################################################################
- name: Set Finder settings
  community.general.osx_defaults:
    domain: "{{ item.domain }}"
    key: "{{ item.key }}"
    type: "{{ item.type }}"
    value: "{{ item.value }}"
  loop:
    - desc: "Finder: show status bar"
      domain: "com.apple.finder"
      key: ShowStatusBar
      type: bool
      value: true
    - desc: "Use list view in all Finder windows by default"
      domain: "com.apple.finder"
      key: FXPreferredViewStyle
      type: string
      value: "Nlsv"
  tags: osx-defaults

###############################################################################
# Dock                                                                        #
###############################################################################
- name: Set Dock settings
  community.general.osx_defaults:
    domain: "{{ item.domain }}"
    key: "{{ item.key }}"
    type: "{{ item.type }}"
    value: "{{ item.value }}"
  loop:
    - desc: "Autohide the dock"
      domain: "com.apple.dock"
      key: autohide
      type: bool
      value: false
    - desc: "Dock show delay"
      domain: "com.apple.dock"
      key: autohide-delay
      type: int
      value: 0
    - desc: "Dock show delay"
      domain: "com.apple.dock"
      key: autohide-time-modifier
      type: float
      value: 0.4
    - desc: "Dont show recent apps in dock"
      domain: "com.apple.dock"
      key: show-recents
      type: bool
      value: false
    - desc: "Set minimize effect"
      domain: "com.apple.dock"
      key: mineffect
      type: string
      value: "genie"
  notify:
    - Restart Dock
  tags: osx-defaults

###############################################################################
# Mission Control, Spaces                                                     #
###############################################################################
- name: Set Mission Control/Spaces settings
  community.general.osx_defaults:
    domain: "{{ item.domain }}"
    key: "{{ item.key }}"
    type: "{{ item.type }}"
    value: "{{ item.value }}"
  loop:
    - desc: "Dont rearrange spaces"
      domain: "com.apple.dock"
      key: mru-spaces
      type: bool
      value: false
  notify:
    - Restart Dock
  tags: osx-defaults
